body {
  font-family: "Times New Roman", Times, serif;
}

header {
  background-image: url("../images/banner.jpg");
}

header h1 {
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 42px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

#search-form {
  font-size: 32px;
  float: right;
  text-align: right;
}

button,
input {
  width: 300px;
  font-size: 20px;
}

p,
span {
  font-size: 20px;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#orange {
  background-color: orange;
}

#red {
  background-color: red;
}
